@model UI.Models.Members.AddFriends

@{
    ViewBag.Title = "Add Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Friends</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AddFriends</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimaryID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimaryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondaryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondaryID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecondaryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <p class="text-danger">@Model.ErrorMessage</p>
            }
            @if (!String.IsNullOrWhiteSpace(Model.Message))
            {
                <p class="text-success">@Model.Message</p>
            }
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    <br /><br />
    <p>Obviously not the best UI. If I had more time, these would be drop-downs and the second one would only list members that aren't already friends with the first.</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
