@model UI.Models.Members.MemberView

@{
    ViewBag.Title = "View - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (Model.Name != null)
    {
        <h2>@Model.Name</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortURL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortURL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Headings)
            </dt>

            <dd>
                @if (Model.Headings.Any())
                {
                    <ul style="padding-left:10px">
                        @foreach (string h in Model.Headings)
                        {
                            <li>@h</li>
                        }
                    </ul>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Friends)
            </dt>

            <dd>
                @if (Model.Friends.Any())
                {
                    <ul style="padding-left:10px">
                        @foreach (var f in Model.Friends)
                        {
                            <li>@Html.ActionLink(f.Name, "View", new { id = f.ID })</li>
                        }
                    </ul>
                }
            </dd>

        </dl>
    }
    else
    {
        <h4>Member not found</h4>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
